<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Prodaja Polovnih Automobila</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='loggo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='loggo.png') }}" class="logo" alt="Prodaja Polovnih Automobila">
        </a>  
        <ul class="linkovi">
            <li><a href="#contact-info">Contact</a></li>
            <li><a href="#o-nama">O nama</a></li>
           <li><a href="#pronadji">Pronadji auto</a></li>
        </ul>
    </nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<div class="naslov">
    <h1>PRONADJITE PRAVI AUTO ZA VAS!</h1>
</div>

    <div class="pozadina">
        <img src="static/slike/pic.png" alt="">
    </div>
    <br>
    <br>
    <br id="pronadji">
    <div class="formapretrage">
        <h2>Pretraga Automobila</h2>
        <form action="/search" method="GET" method="GET" action="{{ url_for('oglas.search') }}">
            <div class="pretraga">
                <div>
                    <label for="marka">Marka vozila:</label>
                    <select id="marka" name="marka">
                        <option value="">Izaberite marku</option>
                      {%for marka in marke%}
                      <option value="{{marka['id']}}">{{marka['naziv']}}</option>
                      {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="model">Model vozila:</label>
                    <select id="model" name="model">
                        <option value="">Izaberite model</option>
                        {% for model in modeli %}
                            {% if model['id_marke'] == 1 %}
                                {% if selected_marka == 1 %}
                                    <option value="{{model['id']}}">{{model['naziv']}}</option>
                                {% endif %}
                            {% elif model['id_marke'] == 2 %}
                                {% if selected_marka == 2 %}
                                    <option value="{{model['id']}}">{{model['naziv']}}</option>
                                {% endif %}
                            {% elif model['id_marke'] == 3 %}
                                {% if selected_marka == 3 %}
                                    <option value="{{model['id']}}">{{model['naziv']}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="gorivo">Vrsta goriva:</label>
                    <select id="gorivo" name="gorivo">
                        <option value="">Izaberite gorivo</option>
                        {%for gorivo in goriva%}
                        <option value="{{gorivo['id']}}">{{gorivo['naziv']}}</option>
                       {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="menjac">Menjac:</label>
                    <select id="menjac" name="menjac">
                        <option value="">Izaberite menjac</option>
                        {%for menjac in menjaci%}
                        <option value="{{menjac['id']}}">{{menjac['naziv']}}</option>
                       {%endfor%}
                        
                    </select>
                </div>
            </div>
            <div class="pretraga">
                <div>
                    <label for="cena_od">Cena od:</label>
                    <input type="number" id="cena_od" name="cena_od" min="0">
                </div>
                <div>
                    <label for="cena_do">Cena do:</label>
                    <input type="number" id="cena_do" name="cena_do" min="0">
                </div>

                    <label for="godiste_od">Godište od:</label>
                    <select id="godiste" name="godiste">
                        <option value="">Izaberite gorivo</option>
                        {%for godiste in godista%}
                        <option value="{{godiste['id']}}">{{godiste['godina']}}</option>
                       {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="godiste_do">Godište do:</label>
                    <select id="godiste" name="godiste">
                        <option value="">Izaberite gorivo</option>
                        {%for godiste in godista%}
                        <option value="{{godiste['id']}}">{{godiste['godina']}}</option>
                       {%endfor%}
                    </select>
                </div>
            </div>
            <div class="pretraga">
                <button type="submit">Pretraži</button>
            </div>
        </form>
    </div>
    <div id="rezultati">
        {% if oglasi %}
            {% for oglas in oglasi %}
            <div class="card">
                <h2>{{ oglas['title'] }}</h2>
                <p>{{ oglas['body'] }}</p>
                <p><strong>Cena:</strong> {{ oglas['cena'] }} E</p>
                <p><strong>Kilometraža:</strong> {{ oglas['kilometraza'] }} km</p>
                <p><strong>Godište:</strong> {{ oglas['godiste'] }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Nema rezultata za prikaz.</p>
        {% endif %}
    </div>
</body>
</html>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum soluta impedit amet.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 id="o-nama">O nama</h2>
    
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        var scrollToTopBtn = document.getElementById("vratinavrh");
        var header = document.querySelector("header");
        var headerBottom = header.getBoundingClientRect().bottom;
        if (document.body.scrollTop > headerBottom || document.documentElement.scrollTop > headerBottom) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
</script>
<button id="vratinavrh" onclick="scrollToTop()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
  </svg></button>
  
<footer>
    <div id="contact-info">
        <h3>Contact</h3>
        <p>Email: example@example.com</p>
        <p>Phone: 123-456-7890</p>
        <p>Social Media:</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
    <div class="location-info">
        <h3>Location</h3>
        <p>123 Street Name</p>
        <p>City, Country</p>
    </div>
    <div class="legal-info">
        <h3>Legal</h3>
        <p>Company Name</p>
        <p>&copy; 2024 Company Name. All rights reserved.</p>
        <p><a href="#">Terms of Use</a></p>
    </div>
</footer>
</body>
</html>







