
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.pozadina {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.pozadina img {
    max-width: 100%;
    height: auto;
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    background-color:#99c0e4;
    color: white;
    padding: 0rem;
    margin: 0;
    box-shadow: 6px  6px 10px rgba(0, 0, 0, 0.1);
    height: 94px;
}
.linkovi {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.linkovi li {
    display: inline;
    margin-right: 9px;
}
.linkovi a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 18px;
    font-size: larger;
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}
.linkovi a:hover {
    background-color: #8db1d2; 
}
.naslov{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: -30px;
}
.naslov h1{
    color:#333;
    font-size:80px;
    font-weight: bold;
}
.logo{
    height: 70px;
    width: 70px;
    margin-left: 9px;
}
form {
    margin: 40px; 
    display: inline-block; 
}
.formapretrage {
    background: #e0ecf8;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formapretrage h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.pretraga {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.pretraga div {
    width: 15%;
    margin-bottom: 15px;
}
.pretraga label {
    display: flex;
    margin-bottom: 5px;
    color: #555;
}

.pretraga select, 
.pretraga input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pretraga button {
    width: 100px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}
.pretraga button:hover {
    background-color: #218838;
}
#rezultati a {
    text-decoration: none; /* Skida podvučak */
}
.oglas-link a {
    text-decoration: none; 
  }
.card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.full-screen {
    position: fixed;
    padding: 20px;
    overflow: auto;
}
#ponude{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px
}
.slike {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    background-color:#39526d;;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h3{
    font-size: larger;
}
#contact-info, .location-info, .legal-info {
    flex: 1;
    margin-right: 20px;
}

#contact-info ul {
    list-style-type: none;
    padding: 0;
}

#contact-info ul li {
    display: inline-block;
    margin-right: 10px;
}

#contact-info ul li a {
    color: #fff;
    text-decoration: none;
}

#contact-info ul li a:hover {
    text-decoration: underline;
}
#vratinavrh {
    background-color: #99c0e4;
    color: black;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#vratinavrh:hover {
    background-color: #3f5d7d;
}
