.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
   
}
h1{
    text-align: center;
}
.dugmici{
    text-align: center;
}
form {
    margin: 40px; 
    display: inline-block; 
}
