
header{
    background-color:white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
};/* #F39C12;#7F8C8D  zelenkasta*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
}
.logo{
    height: 70px;
    width: 70px;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}
.menu li {
    display: inline;
    margin: 20px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    align-items:baseline;
}

.dugmici{
    text-align: center;
    
}
form {
    margin: 40px; 
    display: inline-block; 
}
.logo{
    height: 70px;
    width: 70px;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}
.menu li {
    display: inline;
    margin: 20px;
}