
header{
    background-color: #F39C12;/*#7F8C8D  zelenkasta*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.logo{
    height: 70px;
    width: 70px;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}
.menu li {
    display: inline;
    margin: 20px;
    font-size: larger;
}
li{
    align-items:baseline;
}
.navbar h1 {
  
    margin: 0;
    flex-grow: 1;
    text-align: center;
}
.dugmici{
    text-align: center;
    
}
form {
    margin: 40px; 
    display: inline-block; 
}
.logo{
    height: 70px;
    width: 70px;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}
.menu li {
    display: inline;
    margin: 20px;
}