<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='loggo.png') }}">
    <title>Honda modeli</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='loggo.png') }}" class="logo" alt="Prodaja Polovnih Automobila">
            </a>  
        </nav>
    </header>
    <h1>HONDA MODELI</h1>
    <p>honda automobili</p>
    
</body>
</html>


