<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodaja polovnih automobila</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="logo1.png">
            <p>ovo je nav bar</p>
        </div>
    </nav>
    <h1>Ovo je Pocetna stranica</h1>
    <div class="dugmici">
        <form action="/honda" method="get">
            <button type="submit">Go to Honda</button>
        </form>
        
        <form action="/toyota" method="get">
            <button type="submit">Go to Toyota</button>
        </form>
        
        <form action="/mazda" method="get">
            <button type="submit">Go to Mazda</button>
        </form>
    </div>
    <p>OVO JE NEKI TEKST</p>
    <footer>
        <p>ovo je footer</p>
    </footer>
</body>
</html>