<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <img src="D:\maturski\logo.png" alt="Logo">
        Prodaja polovnih automobila
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    
    <h2>OVO JE H2</h2>
    <h1>Ovo je Pocetna stranica</h1>
    <div class="dugmici">
        <form action="/honda" method="get">
            <button type="submit">Go to Honda MODELI</button>
        </form>
        
        <form action="/toyota" method="get">
            <button type="submit">Go to Toyota</button>
        </form>
        
        <form action="/mazda" method="get">
            <button type="submit">Go to Mazda</button>
        </form>
    </div>
    <p>OVO JE NEKI TEKST</p>
</body>
</html>