<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <img src="D:\maturski\logo.png" alt="Logo">
        Prodaja polovnih automobila
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="user-options">
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        </div>
    </header>

    <h1>Ovo je Pocetna stranica</h1>
    <div class="dugmici">
        <form action="/honda" method="get">
            <button type="submit">Go to Honda</button>
        </form>
        
        <form action="/toyota" method="get">
            <button type="submit">Go to Toyota</button>
        </form>
        
        <form action="/mazda" method="get">
            <button type="submit">Go to Mazda</button>
        </form>
        <a class=" imgaa" href="/toyota">
            <img src="" alt="">
        </a>
    </div>
</body>
</html>